@font-face {
    font-family: 'CorpoA';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/CorpoA.ttf") format('truetype');
}
@font-face {
    font-family: 'CorpoA';
    font-style: normal;
    font-weight: bold;
    src: url("{{ UriPath }}/Common/Style/Font/CorpoABold.ttf") format('truetype');
}

@font-face {
    font-family: 'CorpoALig';
    font-style: normal;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/CorpoALig.ttf") format('truetype');
}
@font-face {
    font-family: 'CorpoALig';
    font-style: italic;
    font-weight: normal;
    src: url("{{ UriPath }}/Common/Style/Font/CorpoALigItalic.ttf") format('truetype');
}