@font-face {
    font-family: "CorporateACondensedRgIt";
    src: url('/Common/Style/Font/MBComFont/corporateacon-regita-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corporateacon-regita-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corporateacon-regita-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateACondensedRegular";
    src: url('/Common/Style/Font/MBComFont/corporateacon-reg-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corporateacon-reg-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corporateacon-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateARegularItalic";
    src: url('/Common/Style/Font/MBComFont/corporatea-regita-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corporatea-regita-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corporatea-regita-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateABold";
    src: url('/Common/Style/Font/MBComFont/corporab-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corporab-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corporab-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateSRegular";
    src: url('/Common/Style/Font/MBComFont/corporsr-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corporsr-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corporsr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateSLightItalic";
    src: url('/Common/Style/Font/MBComFont/corposli-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corposli-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corposli-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateADemItalic";
    src: url('/Common/Style/Font/MBComFont/corpoademitalic-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corpoademitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corpoademitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateSBoldRegular";
    src: url('/Common/Style/Font/MBComFont/corporatesbold-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corporatesbold-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corporatesbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateSRegularItalic";
    src: url('/Common/Style/Font/MBComFont/corposregital-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corposregital-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corposregital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorporateSDemi";
    src: url('/Common/Style/Font/MBComFont/Corporate-S-demi-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/Corporate-S-demi-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/Corporate-S-demi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CorpoADemRegular";
    src: url('/Common/Style/Font/MBComFont/corpoadem-webfont.eot');
    src: url('/Common/Style/Font/MBComFont/corpoadem-webfont.eot?#iefix') format('embedded-opentype'), url('/Common/Style/Font/MBComFont/corpoadem-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
