.panel-heading {
    border-radius: 0;
}
.panel-heading .panel-title {
    color: #fff;
}
.panel-footer {
    border-radius: 0;
}

.panel > .panel-body {
    color: #333;
}

.panel > .list-group {
    color: #333;
}