@font-face {
    font-family: 'CorpoA';
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-condensed;
    src: url("/Common/Style/Font/CorpoA.ttf") format('truetype');
}
@font-face {
    font-family: 'CorpoA';
    font-style: normal;
    font-weight: bold;
    font-stretch: extra-condensed;
    src: url("/Common/Style/Font/CorpoABold.ttf") format('truetype');
}

@font-face {
    font-family: 'CorpoS';
    font-style: normal;
    font-weight: normal;
    src: url("/Common/Style/Font/CorpoS.ttf") format('truetype');
}

@font-face {
    font-family: 'CorpoALig';
    font-style: normal;
    font-weight: normal;
    src: url("/Common/Style/Font/CorpoALig.ttf") format('truetype');
}
@font-face {
    font-family: 'CorpoALig';
    font-style: italic;
    font-weight: normal;
    src: url("/Common/Style/Font/CorpoALigItalic.ttf") format('truetype');
}

body {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("/Common/Style/Resource/MB-Body-2013.jpg");
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll !important;
}

.glyphicons {
    top:0 !important;
    line-height: inherit !important;
}

.thumbnail {
    border: none;
}

/* GLYPHICONS */

.halflings {
    vertical-align: text-top;
}

.glyphicon {
    vertical-align: text-top;
}

.glyphicons {
    vertical-align: text-top;
}

/* Prevent Flash ( + Js Mod.. ) */

.FadeIn,
.Dynamic-Frontend {
    visibility: hidden;
    /*display: none;*/
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px; }

::-webkit-scrollbar-button {
    background: #aeaeae; }

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #000; }

::-webkit-scrollbar-thumb {
    border: 0px;
    border-radius: 0px;
    background: #aeaeae; }

body {
    scrollbar-face-color: #aeaeae;
    scrollbar-track-color: #000;
}
