@font-face {
    font-family: 'CorpoA';
    font-style: normal;
    font-weight: normal;
    font-stretch: extra-condensed;
    src: url("/Common/Style/Font/CorpoA.ttf") format('truetype');
}
@font-face {
    font-family: 'CorpoA';
    font-style: normal;
    font-weight: bold;
    font-stretch: extra-condensed;
    src: url("/Common/Style/Font/CorpoABold.ttf") format('truetype');
}

@font-face {
    font-family: 'CorpoS';
    font-style: normal;
    font-weight: normal;
    src: url("/Common/Style/Font/CorpoS.ttf") format('truetype');
}

@font-face {
    font-family: 'CorpoALig';
    font-style: normal;
    font-weight: normal;
    src: url("/Common/Style/Font/CorpoALig.ttf") format('truetype');
}
@font-face {
    font-family: 'CorpoALig';
    font-style: italic;
    font-weight: normal;
    src: url("/Common/Style/Font/CorpoALigItalic.ttf") format('truetype');
}

body {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("/Common/Style/Resource/MB-Body-2013.jpg");
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.glyphicons {
    top:0 !important;
    line-height: inherit !important;
}

div.MB-Logo {
    width: 257px;
    height: 110px;
    background: transparent url("Resource/MB-Logo-2016-2.gif") no-repeat left center;
}

div.MB-Logo-Mobile {
    width: 30px;
    height: 30px;
    background: transparent url("Resource/MB-Logo-2016-2.gif") no-repeat left center;
}

div.window-nav.nav-cluster {
    margin-top: 26px;
}
div.window-nav.nav-application,
div.window-nav.nav-module {
    background: #222222;
}
div.window-nav.nav-module hr {
    margin: 0;
    border-color: #333333;
}